<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Добавление тренировки</h1>
    <form method="post">
    {% csrf_token %}
    <div>
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div>
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div>
        {{ form.category_or_new.label_tag }}
        {{ form.category_or_new }}
        <datalist id="category-list">
            {% for category in categories %}
                <option value="{{ category.title }}">
            {% endfor %}
        </datalist>
    </div>
    <button type="submit">Добавить тренировку</button>
    </form>
    {% endblock %}
</body>
</html>