<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление тренировки</title>
</head>
<body>
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow border-0" style="background-color: #f6fff8;">
    <div class="card-body">

      <h2 class="text-success text-center mb-4">Добавление тренировки</h2>

      <form method="post" class="bg-white p-4 rounded shadow-sm">
        {% csrf_token %}

        <div class="mb-3">
          <label for="{{ form.title.id_for_label }}" class="form-label">
            {{ form.title.label }}
          </label>
          {{ form.title|add_class:"form-control" }}
          <div class="text-danger small">{{ form.title.errors }}</div>
        </div>

        <div class="mb-3">
          <label for="{{ form.description.id_for_label }}" class="form-label">
            {{ form.description.label }}
          </label>
          {{ form.description|add_class:"form-control" }}
          <div class="text-danger small">{{ form.description.errors }}</div>
        </div>

        <div class="mb-3"> {{ form.category_or_new.label_tag }} {{ form.category_or_new }}
            <datalist id="category-list"> {% for category in categories %}
                <option value="{{ category.title }}"> {% endfor %}
            </datalist>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-success">
            Добавить тренировку
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
