<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Мои привычки</h1>
    <hr>
    {% if habits%}
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <td scope="col">Привычка</td>
                    <td scope="col">Серия</td>
                    <td scope="col">Дата начала</td>
                </tr>
            </thead>
            {% for habit in habits %}
            <tbody>
                <tr onclick="window.location.href='{% url 'habits:habit_detail' habit.id %}';" style="cursor: pointer;">>
                    <td>{{ habit.title }}</td>
                    <td>День {{ habit.streak }}</td>
                    <td>{{ habit.created_at }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    <hr>
    <p><a href="{% url 'habits:habit_add' %}">Добавить привычку</a></p>
    {% else %}
        <h3>У вас нет привычек</h3>
        <p><a href="{% url 'habits:habit_add' %}">Добавить привычку</a></p>
    {% endif %}

    {% endblock %}
</body>
</html>