<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление привычки</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container mt-5">
      <div class="card shadow border-0" style="background-color: #f6fff8;">
        <div class="card-body">
          <h2 class="text-success text-center mb-4">Добавление привычки</h2>

          <form method="post">
            {% csrf_token %}
            {% for f in form %}
              <div class="mb-3">
                <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                {{ f }}
                <div class="form-error text-danger small">{{ f.errors }}</div>
              </div>
            {% endfor %}

            <div class="d-flex justify-content-end">
              <button type="submit" name="submit_type" value="add" class="btn btn-success me-2">
                Добавить привычку
              </button>
              <button type="submit" name="submit_type" value="add_and_log" class="btn btn-outline-success">
                Добавить и отметить привычку
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
    {% endblock %}
</body>
</html>
