<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h1>Профиль</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.photo %}
        <p><img src="{{ user.photo.url }}" width="20%"></p>
        {% else %}
        <p><img src="{{ default_image }}" width="20%"></p>
        {% endif %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Сохранить</button></p>
    </form>
    <hr>
    <a href="https://t.me/progress_assistant_bot" target="_blank">Подключить Telegram-бота</a>
    <hr>
    <p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
    {% endblock %}
</body>
</html>